---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_visa_chargeDeclined&metadata[purchase_id]=2&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+2%29
    headers:
      Authorization:
      - Bearer sk_test_51Nf0QgGDIABBb7mqBy9g9XZlwwumgxYyGGBUCwUIOscz8tKTawAGpqjtAItSA2JlngwwYoTcfcOOerdCA8tYVkEl00yNSNYIPS
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2023-08-14 17:46:38 +0200/2/2
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2023-08-14 17:46:38 +0200/2/2
      Original-Request:
      - req_I3QP5AYr2YXPCO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_3Nf2yZGDIABBb7mq1pXPLvzs",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_I3QP5AYr2YXPCO?t=1692027998",
            "type": "card_error"
          }
        }
  recorded_at: Mon, 14 Aug 2023 15:46:39 GMT
recorded_with: VCR 6.2.0
