---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_visa&metadata[purchase_id]=1&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+1%29
    headers:
      Authorization:
      - Bearer sk_test_51Nf0QgGDIABBb7mqBy9g9XZlwwumgxYyGGBUCwUIOscz8tKTawAGpqjtAItSA2JlngwwYoTcfcOOerdCA8tYVkEl00yNSNYIPS
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2023-08-14 17:47:01 +0200/1/1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2023-08-14 17:47:01 +0200/1/1
      Original-Request:
      - req_NdDlOUbyC0fhYW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3Nf2yvGDIABBb7mq1whHRpQ2",
          "object": "charge",
          "amount": 299,
          "amount_captured": 299,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3Nf2yvGDIABBb7mq1P261foe",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": true,
          "created": 1692028021,
          "currency": "usd",
          "customer": null,
          "description": "Charge for Ruby Under a Microscope (Purchase ID 1)",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "1"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 33,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1Nf2yvGDIABBb7mqtj1PXXN3",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": null
              },
              "country": "US",
              "exp_month": 8,
              "exp_year": 2024,
              "fingerprint": "QjhyqVOVwFwXbLN1",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "network": "visa",
              "network_token": {
                "used": false
              },
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTmYwUWdHRElBQkJiN21xKPaY6aYGMgaBZzzkQks6LBbhnlRV6pGzuyQ1qG-ZwuiogDuRxH9lF2eVoAJo7hhas_-LbyyXrAZ_YMav",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1Nf2yvGDIABBb7mqtj1PXXN3",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 8,
            "exp_year": 2024,
            "fingerprint": "QjhyqVOVwFwXbLN1",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null,
            "wallet": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 14 Aug 2023 15:47:02 GMT
recorded_with: VCR 6.2.0
